<div class="container-fluid">
<div class="row">
<div class="col-4">
    <div class="img-event rounded-3 my-5 mx-3">

    <img class="group list-group-image img-fluid rounded-2" src="{{std.image}}"    alt="" />
</div>
</div>
<div class="col-4 my-5">
    <div class="caption card-body">
        <h4 class="group card-title inner list-group-item-heading">
     {{std.first_name | titlecase}} {{std.last_name | titlecase}}</h4>
    <hr>
    <h5 class="group list-group-item-heading">

    UserName:</h5> {{std.username | titlecase}} 
    <br>
    <h5 class="group  list-group-item-heading">

        Email:</h5> {{std.email | titlecase}} 

    </div>
    <hr>
<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button"(click)="editStudentClicked(std._id)"  class="btn btn-success">Actualizar</button>
    <button type="button" (click)="deleteStudentClicked(std._id)"  class="btn btn-danger">Delete</button>
    <button type="button" routerLink="/home" class="btn btn-warning">List</button>
</div>
</div></div></div>